.profile-input-container {
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  height: 25vh;
  font-family: "Prompt", sans-serif;
}
.create-profile-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  height: auto;
}

.create-profile-main {
  margin-top: 12vh;
  height: 100%;
  /* margin-bottom: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

input[type="file"] {
  color: rgba(0, 0, 0, 0);
}
.photo-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 11.7vw;
}

.create-profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
  height: 5vh;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  color: black;
}

.login-logo {
  margin-right: 1vh;
  height: 5vh;
}

.create-profile-message {
  color: black;
  font-family: "Varela Round", sans-serif;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
