.nav-bar {
  position: fixed;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  color: ivory;
  background-color: rgb(24, 24, 24);
  font-family: "Prompt", sans-serif;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  height: 5vh;
  margin-right: 1vw;
}

.sign-in-up {
  display: flex;
  flex-direction: row;
  margin-right: 4vw;
}

.user-logo {
  height: 5vh;
}

.nav-links {
  display: flex;
  color: rgb(178, 178, 178);
  margin-top: 1vh;
  font-family: "Varela Round", sans-serif;
  font-size: 2vh;
  text-decoration: none;
}

.browse,
.sell,
.lessons {
  cursor: pointer;
}
.browse:hover {
  color: rgb(239, 237, 237);
}
.sell:hover {
  color: rgb(239, 237, 237);
}
.lessons:hover {
  color: rgb(239, 237, 237);
}

.the-den {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
  background: #cfcfcf;
  background: linear-gradient(to right, #cfcfcf 19%, #3aa1f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left p {
  margin-left: 2vw;
}

a {
  text-decoration: none;
}

.profile-nav {
  margin-right: 4vw;
  margin-top: 1vh;
  cursor: pointer;
}
